@font-face {
	font-family: 'monserrat';
	src: url('/font/monserrat.ttf');
}

body {
	margin: 0;
	padding: 0;
	background: url('/images/bg_login.jpg') no-repeat center;
	width: 100%;
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'monserrat';
	color: white;
}

body * {
	font-family: 'monserrat';
}

.card-body {
	text-align: center;
}

.card-body h1 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 0;
}

.card-body p {
	margin-top: 10px;
	font-weight: normal;
}

.inp {
	width: 500px;
	padding: 10px 15px;
	box-sizing: border-box;
	border: none;
	margin: 5px 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	outline: none;
}

.input-group-addon {
	background: #ffe21c;
	color: white;
	padding: 8px 15px;
	box-sizing: border-box;
	margin-right: -4px;
	padding-bottom: 9px;
	outline: none;
}

.btn-primary {
	background: #ffe21c;
	color: white;
	box-sizing: border-box;
	border: none;
	padding: 10px 75px;
	font-size: 16px;
	border-radius: 3px;
	margin-top: 15px;
	cursor: pointer;
	outline: none;
}

@media screen and (max-width: 550px) {
	.inp {
		width: 351px;
	}
}

@media screen and (max-width: 403px) {
	.inp {
		width: 252px;
	}
}