@font-face {
  font-family: 'monserrat';
  src: url('/font/monserrat.ttf');
}

body * {
  font-family: 'monserrat';
}

#top {
	margin: 40px auto;
	width: 100%;
	text-align: center;
}

#top img {
	width: 200px;
}

.left {
	float: left;
	width: 50%;
	margin-top: 20px;
}

.right {
	float: right;
	width: 49%;
	margin-top: 20px;
}

.judul {
	border-bottom: 1px solid #f4f4f4;
}

.judul h3 {
	font-size: 18px;
	letter-spacing: 1px;
}

.barang {
	width: 100%;
}

.barang tr {
	border-bottom: 1px solid #f4f4f4;
}

.barang .judul {

}