body {
	background-color: #f4f4f4;
}

.nav-link {
	color: black;
	font-size: 12px;
}

.nav-pills {
	margin-top: 15px;
}

.top-header {
	margin-bottom: 50px;
}

#form, .box-list {
	background: white;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 6px;
	margin-top: 15px;
	margin-bottom: 50px;
}

#form .form-group {
	margin-bottom: 25px;
}

.form-group label {
	font-size: 14px;
}

.table-responsive {
	display: table;
}

.span {
	border-bottom: 1px dashed gray;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 25px;
	font-size: 14px;
}

.span b {
	float: right;
}

.table {
	font-size: 14px;
}