/*Responsive View*/
/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		/*max-width: 768px; */
		max-width: 870px;
    }
    .card-custom img {
        height: 150px;
    }
    .card-custom h6 {
        font-size: 15px;
    }
    .card-custom h5 {
        font-size: 15px;
    }
    .card-custom small {
        font-size: 12px;
    }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}
	.container { 
		width: 95%; 
	}
}



/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
        width: 95%;    
        padding-right: 0;
        padding-left: 0;
    }
    h6 {
        font-size: 10.5px;
    }
    h5 {
        font-size: 10.5px;
    }
    small {
        font-size: 9px;
    }
    .heading-row {
        font-size: 13px;
    }
    .top-header {
        margin: 0;
    }
    .fixed-top {
        padding: 5px 20px;
    }
    .jumbotron {
        padding-top: 10px;
    }
    .myAlbum {
        text-align: center;
    }
    .additional-text {
        font-size: 9.5px;
        padding: 10px 0;
    }
    .album {
        padding-top: 0;
    }
    .card-custom {
        margin-top: 10px;
        width: 120px;
        height: 300px;
    }
    .card-custom img {
        height: 105px;
    }
    .card-custom h6 {
        font-size: 10.5px;
    }
    .card-custom h5 {
        font-size: 10.5px;
    }
    .card-custom small {
        font-size: 7px;
    }
    .btn-nav {
        font-size: 8px;
        padding: .5rem 1rem;
    }
    .judul-barang {
        height: 25px;
    }
    .copyright {
        font-size: 12px;
    }
    .search-section>div>a {
        font-size: 12px;
    }
    .table {
        font-size: 10px;
    }
}

/*#Custom*/