@font-face {
	font-family: 'monserrat';
	src: url('/font/monserrat.ttf');
}

body {
	margin: 0;
	padding: 0;
}

body * {
	font-family: 'monserrat';
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.gambar-back {
	background: url('/images/bg.png') center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -10;
}

.human {
	background: url('/images/ss.png') center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -9;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.left, .right {
	float: right;
	display: inline-block;
}

.right {
	margin-top: 0%;
	background: #deeefa;
	padding: 45px;
	box-sizing: border-box;
	border-radius: 7px;
	color: #6e7882;
	width: 40%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

label {
	display: block;
	font-size: 14px;
}

.form-control {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #4fa3df;
	border-radius: 4px;
}

.form-group {
	margin: 20px 0;
}

.btn {
	background: #4fa3df;
	color: white;
}

.btn:hover {
	cursor: pointer;
}

.list-item {
	list-style: none;
	background: #deeefa;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
	transition: all ease .2s;
	cursor: pointer;
}

.tutup a {
	text-decoration: none;
}

.list-item:hover {
	background: white;
}

.list-item span {
	font-size: 14px;
	color: #4fa3df;
	text-decoration: none;
	text-transform: uppercase;
}

.list-item small {
	color: #6e7882;
	text-decoration: none;
}

.left {
	/*margin-top: 5%;*/
	margin-right: 50px;
	position: relative;	
	width: 500px;
}

.hll {
	height: 360px;
	overflow: scroll;
}

.hll ul {
	margin-left: 0;
}

.btn-2 {
	text-decoration: none; 
	background: #f1c328; 
	padding: 10px 25px; 
	margin-top: 20px; 
	float: right; 
	font-size: 15px;
	border-radius: 3px;
}

.hll::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.logo img {
	width: 150px;
}

.logo {
	display: inline-block;
	margin-top: 25px; margin-bottom: 50px;
}

.loading {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #4fa3df;
  border-bottom: 10px solid #4fa3df;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 30px;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.5);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

@media screen and (max-width: 970px) {
	.gambar-back, .human {
		height: 100%;
	}

	.right, .left {
		width: 100%;
	}

	.left {
		margin-right: 0;
	}

	#list-toko {
		text-align: center;
	    /* display: flex; */
	    /* justify-content: center; */
	    margin-right: 35px;
	}
}

@media screen and (max-width: 1204px) {
	.left {
		float: left;
		width: 48%;
	}

	.right {
		width: 45%;
	}

	.gambar-back {
		height: 700px;
	}
}

@media screen and (max-width: 720px) {
	.left, .right {
		width: 100%;
	}

	.left {
		margin-top: 50px;
	}

	.gambar-back {
		height: 1366px;
	}
}

@media screen and (max-width: 320px) {
	.logo {
		text-align: center;
	}

	.logo a {
		margin-right: 45px;
	}
}