@font-face {
  font-family: 'monserrat';
  src: url('/font/monserrat.ttf');
}

body * {
  font-family: 'monserrat';
}

a {
  outline: none;
}

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  background-color: #e7e9fe;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  padding: .75rem;
}

.card > img {
  margin-bottom: .75rem;
  object-fit: cover;
  height: 200px;
}

.card-text {
  font-size: 85%;
}

.search-input {
  width: 73.333%;
  float: left;
  background: white;
}

.search-btn {
  width: 23.333%;
  float: right;
  font-size: 14px;
  padding: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.discount {
  text-decoration: line-through;
  float: left;
}
.my-price {
  display: inline-block;
  color: orange;
}
.judul-barang {
  height: 40px;
  overflow: hidden;
}

.top-header {
  padding: 30px 0;
}
.big-font {
  font-size: 25px;
}

.fixed-top {
  background: /*url('/assets/img/bg.png')*/ lightblue;
  background-size: cover;
  background-position: top;
  z-index: 99;
  padding: 14px 30px;
}
.fixed-top > h3 > img {
  height: 50px!important;
}
.fixed-top a {
  font-size: 12px;
}

.desktopNav img {
  width: 150px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


.pagination {
    display: inline-block;
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination li.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

.pagination li:not(.active):not(.disabled) {
  padding: 0;
}
.pagination li a {
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
}

.pagination li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#countCart {
  position: absolute;
  margin-top: -40px;
  background: red;
  width: 16px;
  height: 16px;
  color: white;
  border-radius: 100%;
  font-size: 9px;
  box-sizing: border-box;
  padding: 0 5px;
}

#banner {
  background: url('/assets/img/bg.png');
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
.jumbotron {
  background: none;
}
.heading-row {
  font-size: 22px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.search-section {
  margin-top: 90px;
}

.btn-warning {
  color: white;
}
/*.search-input {
  opacity: .5;
}

.search-input:focus {
  opacity: 1;
}*/
.btn-reserve-primary {
  background: #ffffff;
}

.additional-text {
  padding: 60px 0;
}

.myAlbum {
  background-color: #e7e9fe;
  text-align: center;
}

.btn {
  border-radius: 7px!important;
}

#footer {
  background-color: #ffffff;
}
.uniquePadding {
  margin: 10px;
}

.copyright {
  margin-top: 30px;
}
#scrollBtn {
  border-radius: 100%!important;
  position: fixed;
  right: 20px;
  bottom: 160px;
  z-index: 99;
  font-size: 25px;
  width: 51px;
  height: 51px;
}


.mobileNav {
  display: none;
}

#thisPromo .img-fluid {
  width: 100%;
}

.margin-30 {
  margin: 30px 0;
}

@media only screen and (max-width: 768px) {
  .mobileNav {
    display: block;
  }
  .desktopNav {
    display: none;
  }
  .search-section>div>input,
  .search-section>div>a {
    float: none;
    width: 100%;
  }
}

#cardDeck {
  display: inline-block;
  width: 100%;
}

.card-custom {
  padding: 10px;
  background: #ffffff;
  margin: 10px;
  float: none;
  display: inline-block;
  text-align: left;
  margin-top: 30px;
  width: 198.6px;
  height: 380px;
}
.card-custom img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}
.card-custom h6 {
  font-size: 15px;
}
.card-custom h5 {
  font-size: 15px;
}
.card-custom small {
  font-size: 12px;
}


.btn-nav {
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: .5rem 1rem;
}

/*.fa-shopping-cart {
  margin-top: -10px;
}*/

.nav-top {
  margin-top: 15px; 
}

.myDiscount {
  position: absolute;
  margin-top: -18px;
  background: red;
  color: #ffffff;
}