.ren-mar {
	margin: 10px 15px;
	margin-top: 30px;
}
.col-lg-6 {
	float: left;
}

.loader {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.5);
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 99999;
}